#myloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}
#myloader span {
  width: 50px;
  height: 50px;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.links a {
  border-bottom: 0;
}
.links a:hover {
  border-bottom: 2px solid black;
}
.category-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.category-container ul li {
  list-style: none;
  padding: 4px 5px;
  margin: 0 10px;
  transition: 0.7s ease;
  border-radius: 7px;
}
.category-container ul li:hover {
  background-color: #3c3c3c;
}

.category-container ul li:hover a {
  color: #fff;
}
.news-title {
  font-size: 2em;
}

.author-name {
  font-size: 20px;
}
.author-img {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10px;
}
.author-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-des {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 200px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 1.5em;
}
.news-footer {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 10px;
}
.views {
  font-size: 22px;
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
  .text-des {
    max-height: 200px;
    font-size: 1.4em;
    -webkit-line-clamp: 3;
  }
}
@media only screen and (max-width: 991px) {
  .card-body {
    height: 300px;
  }
  .news-title {
    font-size: 1.5em;
  }
  .text-des {
    max-height: 200px;
    font-size: 1.3em;
    -webkit-line-clamp: 3;
  }
  .author-img {
    width: 60px;
    height: 60px;
  }
  .author-img img {
    width: 100%;
  }
  .date-published {
    font-size: 12px;
  }
  .author-name {
    font-size: 14px;
  }
  .views {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) and (min-width: 391px) {
  .card-body {
    height: 300px;
  }
  .text-des {
    max-height: 200px;
    font-size: 1em;
    -webkit-line-clamp: 3;
  }
  .author-name {
    font-size: 14px;
  }
  .author-img {
    width: 50px;
    height: 50px;
  }
  .views {
    font-size: 14px;
  }
  .stars {
    font-size: 15px;
  }
}
